[toolchain]
anchor_version = "0.32.1"

[features]
seeds = false
skip-lint = false

[programs.devnet]
gated_token = "7zmjGpWX7frSmnFfyZuhhrfoLgV3yH44RJZbKob1FSJF"

[programs.localnet]
gated_token = "7zmjGpWX7frSmnFfyZuhhrfoLgV3yH44RJZbKob1FSJF"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

